# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

###########
#   PHP   #
###########

'.source.php':
    'WordPress Plugin':
        'prefix': 'wpplugin'
        'body': """
            /*
                Plugin Name: $1
                Plugin URI: $2
                Description: $3
                Version: $4
                Author: $5
                Author URI: $6
            */
        """

    '<pre> + print':
        'prefix': 'preprint'
        'body': 'echo \'<pre>\', print_r($1, true), \'</pre>\';'

    'array to csv':
        'prefix': 'arraycsv'
        'body': """
            header('Content-Type: text/csv; charset=utf-8');
            header('Content-Disposition: attachment; filename=data.csv');

            $csv = "Headers,Go,Here";

            foreach ($array as $row) {
                $csv .= sprintf('%s,%s,%s', $row[0], $row[1], $row[2]);
            }

            die($csv);
        """
